@model BookLibrary.DAL.Models.Category

@{
    ViewBag.Title = "Category Details";
}

<h2>Category Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("<< Back to Categories List", "Index", null, new { @class = "btn btn-default" })
</div>
